@{
    ViewBag.Title = "About";
}
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

    <style>
        #centro{
            background-color:lightblue;

        }

        
    </style>
    <style>
        .center {
            text-align: center;
            background-color: lightblue;
        }
    </style>
    <style>
        body {
            font-family: "Audiowide", sans-serif;
            background-size: 20rem;
            height: 1200px;
            background: rgb(34,193,195);
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(36,105,172,1) 68%, rgba(16,50,122,1) 100%);
        }
    </style>
    <style>

        ul
        {
            list-style-type: none;
        }

        .heading
        {
            text-align: center;
            font-size: 20px;
            font-style: italic;
        }

        #Cajas
        {
            background-color: transparent;
            display: flex;
            margin: 5px;
            justify-content: space-between;
            width: 1100px;
            height: 450px;
            margin-top: 80px   
        }

        #Expertos
        {
            font-size: 30px;  
            text-align: center;  
            margin-top: 140px;
            margin-bottom: 10px;
            font-style: italic;
            
        }

        #Cajas2
        {
            list-style-type:disc;
            margin-left: 50px;
        }

        .titulo
        {
            text-align:left;
            font-size: 20px;
            font-style: italic;
        }

        </style>

</head>
<body>

    <h2 style="color:whitesmoke"><b>Sobre Nosotros</b></h2>

    <br>

    <center>
        <div id="centro">
            <h3 class="center" style="padding-top:20px"><b>Mision</b></h3>

            <p class="center">
                <br>
                Somos una empresa dedicada a la renta o reservacion de centros privados, con el fin de brindar al cliente, una alta gama de
                opciones a la hora de elegir el lugar para su actividad. Contamos con lista de salones en distintas partes de la ciudad, los cuales
                estan adecuados para diferentes actividades, todo en base a su necesidad.
                <br>
            </p>
            <br>
        </div>
    </center>
    <br>

    <section id="seccion">
        <h2 id="Expertos" style="color:white">Conozca a nuestros fundadores</h2>
        <ul id="Cajas">
            <li>
                <figure id="Playa">
                    <h6 class="heading">Mario Lora, <br>Agente de Ventas</h6>
                </figure>
            </li>
            <li>
                <figure id="Playa">
                    <h6 class="heading">Adam Guerrero, <br>Agente de Ventas</h6>
                </figure>
            </li>
            <li>
                <figure id="constanza">
                    <h6 class="heading">
                        Carlos M. Jimenez,
                        <br>Agente de Ventas
                    </h6>
                </figure>
            </li>
            <li>
                <figure>
                    <h6 class="heading">
                        Juan Manuel Muñoz,
                        <br>Gerente General de Eventos
                    </h6>
                </figure>
            </li>
        </ul>
    </section>



</body>
</html>