@{
    ViewBag.Title = "About";
}
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

    <style>
        #centro{
            background-color:lightblue;

        }

        
    </style>
    <style>
        .center {
            text-align: center;
            background-color: lightblue;
        }
    </style>
    <style>
        body {
            font-family: "Audiowide", sans-serif;
            background-size: 20rem;
            height: 1200px;
            background: rgb(34,193,195);
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(36,105,172,1) 68%, rgba(16,50,122,1) 100%);
        }
    </style>

</head>
<body>
    
    <h2 style="color:whitesmoke"><b>Sobre Nosotros</b></h2>
    
    <br>

    <center>
        <div id="centro">
            <h3 class="center"><b>Mision</b></h3>

            <p class="center">
                <br>
                Somos una empresa dedicada a la renta o reservacion de centros privados, con el fin de brindar al cliente, una alta gama de
                opciones a la hora de elegir el lugar para su actividad. Contamos con lista de salones en distintas partes de la ciudad, los cuales
                estan adecuados para diferentes actividades, todo en base a su necesidad.
                <br>
            </p>
            <br>
        </div>
    </center>
    <br>
    
        <h3 style="color:whitesmoke"><b>Fundadores</b></h3>
        <br>
        <ul class=" center" >
            <li>
                Mario Leonel Lora Lara
            </li>
            <li>
                Mario Leonel Lora Lara
            </li>
            <li>
                Mario Leonel Lora Lara
            </li>
            <li>
                Mario Leonel Lora Lara
            </li>
        </ul>
    

</body>
</html>