@model P_ReservaSalon.Salon

@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <style>
        body {
            font-family: "Audiowide", sans-serif;
            
        }
        
        .btn {
            border:ridge;
            
        }
        h3 {
            color: skyblue
        }
        .edificio {
            background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg")
        }

        .jumbotron {
            background-color: rgba(49,69,165,255)
        }
    </style>
</head>
    <body class="edificio">
        <div class="jumbotron">
            <div class="btn">
                <h3><b>ARTES</b></h3>
                
                <img src="~/Recursos/arte.png" width="295" height="235"  />
                
                
            </div>
            <div class="btn">
                <h3><b>BAILE</b></h3>
                <img src="~/Recursos/baile.png" width="295" height="235"  />
            </div>
            <div class="btn">
                <h3><b>CONFERENCIAS</b></h3>
                <img src="~/Recursos/conferencia.png" width="295" height="235" />
            </div>
            <div class="btn">
                <h3><b>RESTAURANTES</b></h3>
                <img src="~/Recursos/restaurante.png" width="295" height="235" />
            </div>
            <div class="btn">
                <h3><b>DEPORTIVOS</b></h3>
                <img src="~/Recursos/deporte.png" width="295" height="235" />
            </div>
            <div class="btn">
                <h3><b>FIESTAS</b></h3>
                <img src="~/Recursos/fiesta.png" width="295" height="235" />
            </div>

        </div>

        
    </body>

</html>