@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
</head>
<body>
    <div class="jumbotron">
        <div class=" row">
            <div class="column">
                <img src="~/Recursos/SalonConferencia.jpg" width="500" height="400" />
            </div>
            <div class=" column">
                <img src="~/Recursos/SalonDeportivo.jpeg" width="500" height="400" />
            </div>
            <div class=" colum">
                <img src="~/Recursos/SalonFiesta.jpg" width="500" height="400" />
            </div>
        </div>
    </div>
</html>